.counter {
  background-color: white;
}

.counter_number {

  width: 50px;
  display: inline-block;
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
}

.btn_agregarCarrito {
  margin-left: 10px;
}