.counter {
  background-color: white;
}

.counter_number {
  text-align: center;
  width: 50px;
  display: inline-block;
  display: inline-block;
  padding: .375rem .75rem;
  font-size: 1rem;
}

.btn_agregarCarrito {
  margin-left: 0px;
}

.contenedor_counter {
  margin-left: 10px;
}

.contenedor_btnCarrito {
  margin-bottom: 10px;
}